html {
  font-family: "Commissioner", sans-serif;
}

h1 {
  font-size: 1.2rem;
}
@media only screen and (min-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  width: 100%;
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #3cb4ac;
}

p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 800px) {
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

a {
  font-size: 1.1rem;
  font-weight: 500;
}

input {
  font-family: "Commissioner", sans-serif;
  color: black;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 500;
}
@media only screen and (min-width: 800px) {
  input {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.figure-text {
  font-size: 2rem;
  font-weight: 700;
}

#funding-info-card p {
  margin: 0;
  line-height: 2rem;
}

#selection-modal h2 {
  font-size: 1rem;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  position: relative;
}

#header {
  display: flex;
  position: absolute;
  padding: 8% 5%;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}
#header img,
#header button {
  z-index: 101;
}
@media only screen and (min-width: 600px) {
  #header {
    padding: 2% 8vw;
  }
}
#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  bottom: -270%;
  left: 50%;
  margin-left: -45%;
  background-color: white;
  width: 90%;
  border-radius: 2vw;
}
@media only screen and (min-width: 600px) {
  #header ul {
    display: flex;
    position: relative;
    width: fit-content;
    background-color: transparent;
    left: 0;
    margin: 0;
    bottom: 0;
    justify-content: center;
  }
}
#header li {
  padding: 7%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 600px) {
  #header li {
    display: inline;
    border: 0;
  }
}
#header li a {
  color: black;
  text-align: left;
  text-decoration: none;
  transition: 0.2s ease;
}
#header li a:hover {
  opacity: 0.7;
}
@media only screen and (min-width: 600px) {
  #header li a {
    color: white;
    text-align: center;
    white-space: nowrap;
  }
}

.nav-bg {
  position: fixed;
  /* Stay in place */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  overflow: hidden;
}
@media only screen and (min-width: 600px) {
  .nav-bg {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .logo {
    margin-left: 4%;
  }
}

.nav {
  visibility: hidden;
  opacity: 0;
}
@media only screen and (min-width: 600px) {
  .nav {
    visibility: visible;
    opacity: 1;
  }
}

.menu-open {
  animation: 0.5s fadeIn;
  animation-fill-mode: forwards;
}

.menu-close {
  animation: 0.5s fadeOut;
  animation-fill-mode: forwards;
}

#container {
  width: 100%;
}
#container #hero-image {
  position: relative;
}
#container #hero-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(black, transparent);
  opacity: 0.8;
}
@media only screen and (min-width: 800px) {
  #container #hero-image::after {
    opacity: 0.5;
  }
}
#container #hero-image img {
  width: 100%;
}
#container #content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

button {
  border: none;
  background-color: #3cb4ac;
  border-radius: 10vw;
  padding: 6%;
  font-family: "Commissioner", sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
}
button:hover {
  background-color: #147b74;
}
@media only screen and (min-width: 600px) {
  button {
    padding: 1rem;
    white-space: nowrap;
  }
}

.mobile-menu-btn {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  display: block;
}
@media only screen and (min-width: 600px) {
  .mobile-menu-btn {
    display: none;
  }
}

#mobile-nav-icon {
  cursor: pointer;
}

#product-intro-card button {
  width: 70%;
}
@media only screen and (min-width: 600px) {
  #product-intro-card button {
    width: 30%;
  }
}

#bookmark-btn {
  cursor: pointer;
  transition: 0.5s ease;
}
#bookmark-btn:hover {
  opacity: 0.7;
}

.bookmarked #bookmark-text {
  color: #147b74;
}

#bookmark-text {
  color: black;
  font-size: 1rem;
  font-weight: 700;
}

.product-card-bottom button {
  width: 70%;
}
@media only screen and (min-width: 600px) {
  .product-card-bottom button {
    width: 30%;
  }
}

#success-modal button {
  width: 50%;
  margin: 5%;
}
@media only screen and (min-width: 600px) {
  #success-modal button {
    width: 25%;
    margin: 0;
    margin-top: 5%;
  }
}

.pledge-amount button {
  width: 50%;
}

.selection-checkbox {
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  grid-row: 1;
  grid-column: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.check {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  background-color: #3cb4ac;
  display: none;
}

.out-of-stock button {
  background-color: #7a7a7a;
}

.card {
  width: 90%;
  height: auto;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 2vw;
  margin-bottom: 5%;
  padding: 5vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media only screen and (min-width: 600px) {
  .card {
    width: 80%;
    border-radius: 0.5vw;
    padding: 3vw;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 900px) {
  .card {
    width: 50%;
  }
}
.card-buttons {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#bookmark-btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#bookmark-btn #bookmark-icon img {
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  #bookmark-btn #bookmark-icon img {
    position: absolute;
    left: 0;
    top: 0;
  }
}

#bookmark-text {
  display: none;
}
@media only screen and (min-width: 600px) {
  #bookmark-text {
    display: block;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5vw;
    padding-left: 4rem;
    padding-right: 1.5rem;
  }
}

#product-intro-card {
  text-align: center;
  margin-top: -7%;
}
#product-intro-card .card-buttons {
  margin-bottom: 5%;
}
@media only screen and (min-width: 600px) {
  #product-intro-card .card-buttons {
    margin-top: 2%;
    margin-bottom: 0;
    justify-content: space-between;
  }
}

.product-logo {
  margin-top: -18%;
}
@media only screen and (min-width: 600px) {
  .product-logo {
    margin-top: -13%;
    padding: 2%;
  }
}

#funding-info-card {
  text-align: center;
}
#funding-info-card .funding-info {
  width: 100%;
  height: 70%;
}
@media only screen and (min-width: 600px) {
  #funding-info-card .funding-info {
    display: flex;
  }
}
#funding-info-card .card-divider {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 5%;
}
@media only screen and (min-width: 600px) {
  #funding-info-card .card-divider {
    padding-top: 3%;
  }
}
#funding-info-card .short-border {
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transform: translate(100%, 0);
}
@media only screen and (min-width: 600px) {
  #funding-info-card .short-border {
    width: 100%;
    height: 50%;
    border: 0;
    left: 0;
    top: 25%;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    transform: translate(0, 0);
  }
}
#funding-info-card .progress-bar-section {
  height: 30%;
  width: 100%;
}
#funding-info-card .progress-bar-section .progress-bar {
  background-color: rgba(0, 0, 0, 0.1);
  height: 10px;
  border-radius: 10vw;
  overflow: hidden;
}
#funding-info-card .progress-bar-section #progress {
  height: 100%;
  width: 70%;
  background-color: #3cb4ac;
  border-radius: 10vw;
}

#project-detail-card {
  text-align: left;
  margin-bottom: 15%;
}

.product-card {
  width: 100%;
  padding: 8%;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 2vw;
  margin-bottom: 5%;
}
@media only screen and (min-width: 600px) {
  .product-card {
    padding: 5%;
    border-radius: 0.5vw;
  }
}
.product-card h3 {
  margin: 0;
}
@media only screen and (min-width: 600px) {
  .product-card h3 {
    line-height: 2.5rem;
  }
}
.product-card h4 {
  margin: 0;
  line-height: 2.5rem;
}
.product-card-title {
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 600px) {
  .product-card-bottom {
    display: flex;
    justify-content: space-between;
  }
}

.units-left {
  display: flex;
  align-items: center;
  margin: 5% 0;
}
@media only screen and (min-width: 600px) {
  .units-left {
    margin: 0;
  }
}
.units-left p {
  margin: 0 5%;
}

@media only screen and (min-width: 600px) {
  .product-card-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
  }
}

.out-of-stock {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 101;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  overflow: hidden;
}

.modal-content {
  width: 90%;
  background-color: white;
  padding: 8% 5%;
  border-radius: 2vw;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 600px) {
  .modal-content {
    border-radius: 0.5vw;
  }
}

#modal-close-icon {
  position: absolute;
  right: 5%;
  cursor: pointer;
}

/* SUCCESS MODAL */
#success-modal {
  display: none;
}
#success-modal .modal-content {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  #success-modal .modal-content {
    width: 35%;
    padding: 3%;
  }
}
@media only screen and (min-width: 600px) {
  #success-modal .modal-content img {
    width: 20%;
    margin-bottom: 5%;
  }
}

/* SELECTION MODAL */
#selection-modal {
  display: none;
  position: absolute;
}
#selection-modal .modal-content {
  flex-direction: column;
  position: absolute;
  top: 130vh;
}
@media only screen and (min-width: 600px) {
  #selection-modal .modal-content {
    width: 50%;
    padding: 3%;
    top: 80vh;
  }
}
#selection-modal .modal-content h1 {
  margin: 0;
}

.selection-modal-card {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 2vw;
  margin-bottom: 5%;
}
@media only screen and (min-width: 600px) {
  .selection-modal-card {
    border-radius: 0.5vw;
  }
}
.selection-modal-card h3 {
  margin: 0;
  transition: 0.3s ease;
}
@media only screen and (min-width: 600px) {
  .selection-modal-card h3 {
    line-height: 2rem;
  }
}
.selection-modal-card h4 {
  margin: 0;
  line-height: 2rem;
}
.selection-modal-card p {
  grid-row: 2;
  grid-column: 1/span 4;
}
@media only screen and (min-width: 600px) {
  .selection-modal-card p {
    grid-column: 2/span 4;
  }
}
.selection-modal-card .figure-text {
  font-size: 1.5rem;
}
.selection-modal-card .units-left {
  grid-row: 3;
  grid-column: 1/span 2;
}

.selection-modal-card-details {
  padding: 8%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: 0.5s ease;
}
.selection-modal-card-details:hover {
  cursor: pointer;
}
.selection-modal-card-details:hover h3 {
  color: #3cb4ac;
  cursor: pointer;
}
.selection-modal-card-details:hover .selection-checkbox {
  border-color: #3cb4ac;
}
@media only screen and (min-width: 600px) {
  .selection-modal-card-details {
    padding: 5%;
    grid-template-columns: 1fr 9fr 1fr;
  }
  .selection-modal-card-details .units-left {
    grid-row: 1;
    grid-column: 3;
    justify-content: flex-end;
  }
}

.selection-checkbox {
  transition: 0.3s ease;
  /* checked animation */
}

.selection-modal-card-title {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
}
@media only screen and (min-width: 600px) {
  .selection-modal-card-title {
    display: flex;
  }
  .selection-modal-card-title h4 {
    margin-left: 3%;
  }
}

.selection-modal-card-pledge-content {
  visibility: hidden;
  opacity: 0;
  padding: 0;
  text-align: center;
  grid-column: 1/span 2;
  grid-row: 4;
  display: flex;
  max-height: 0;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .selection-modal-card-pledge-content {
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
  }
}
.selection-modal-card-pledge-content p {
  margin: 0;
}
@media only screen and (min-width: 600px) {
  .selection-modal-card-pledge-content p {
    line-height: 3rem;
    margin-left: 5%;
    /* Margin left added here to remove left and right padding of 
    selection-modal-card-pledge-content, 
    to achieve smoother slide down effect */
  }
}

.pledge-amount {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  padding: 0 8%;
  margin-right: 0;
  /* Margin left added here to remove left and right padding of 
  selection-modal-card-pledge-content, 
  to achieve smoother slide down effect */
}
@media only screen and (min-width: 600px) {
  .pledge-amount {
    margin: 0;
    margin-right: 5%;
    padding: 0;
    /* Margin left added here to remove left and right padding of 
    selection-modal-card-pledge-content, 
    to achieve smoother slide down effect */
  }
}
.pledge-amount p {
  position: absolute;
  left: 15%;
  top: 32%;
  line-height: normal;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 600px) {
  .pledge-amount p {
    left: 5%;
  }
}
.pledge-amount input {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10vw;
  width: 40%;
  text-align: center;
  outline: none;
  transition: 0.5s ease;
}
.pledge-amount input:focus {
  border: 2px solid #3cb4ac;
  caret-color: #3cb4ac;
}

.selected {
  border-color: #3cb4ac;
}
.selected .check {
  display: block;
}
.selected .selection-modal-card-details {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
.selected .selection-modal-card-pledge-content {
  padding: 8% 0;
  visibility: visible;
  max-height: 500px;
  opacity: 1;
  transition: max-height 1s ease-out, visibility 1s ease-out, opacity 1s ease-out, padding 0.5s ease;
}
@media only screen and (min-width: 600px) {
  .selected .selection-modal-card-pledge-content {
    padding: 3% 0;
  }
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */