.card {
  width: 90%;
  height: auto;
  background-color: white;
  border: 2px solid rgba($color: #000000, $alpha: 0.05);
  border-radius: 2vw;
  margin-bottom: 5%;
  padding: 5vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media only screen and (min-width: 600px) {
    width: 80%;
    border-radius: 0.5vw;
    padding: 3vw;
    margin-bottom: 2%;
  }

  @media only screen and (min-width: 900px) {
    width: 50%;
  }

  &-buttons {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

#bookmark-btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  #bookmark-icon img {
    height: 100%;
    width: 100%;

    @media only screen and (min-width: 600px) {
      width: auto;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

#bookmark-text {
  display: none;

  @media only screen and (min-width: 600px) {
    display: block;
    padding: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 5vw;
    padding-left: 4rem;
    padding-right: 1.5rem;
  }
}

#product-intro-card {
  text-align: center;
  margin-top: -7%;

  .card-buttons {
    margin-bottom: 5%;

    @media only screen and (min-width: 600px) {
      margin-top: 2%;
      margin-bottom: 0;
      justify-content: space-between;
    }
  }
}
.product-logo {
  margin-top: -18%;

  @media only screen and (min-width: 600px) {
    margin-top: -13%;
    padding: 2%;
  }
}

#funding-info-card {
  text-align: center;

  .funding-info {
    width: 100%;
    height: 70%;

    @media only screen and (min-width: 600px) {
      display: flex;
    }
  }

  .card-divider {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 5%;

    @media only screen and (min-width: 600px) {
      padding-top: 3%;
    }
  }

  .short-border {
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0;
    border-top: 2px solid rgba($color: #000000, $alpha: 0.1);
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);
    transform: translate(100%, 0);

    @media only screen and (min-width: 600px) {
      width: 100%;
      height: 50%;
      border: 0;
      left: 0;
      top: 25%;
      border-left: 2px solid rgba($color: #000000, $alpha: 0.1);
      border-right: 2px solid rgba($color: #000000, $alpha: 0.1);
      transform: translate(0, 0);
    }
  }

  .progress-bar-section {
    height: 30%;
    width: 100%;

    .progress-bar {
      background-color: rgba($color: #000000, $alpha: 0.1);
      height: 10px;
      border-radius: 10vw;
      overflow: hidden;
    }

    #progress {
      height: 100%;
      width: 70%;
      background-color: $moderate-cyan;
      border-radius: 10vw;
    }
  }
}

#project-detail-card {
  text-align: left;
  margin-bottom: 15%;
}

.product-card {
  width: 100%;
  padding: 8%;
  box-sizing: border-box;
  border: 2px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 2vw;
  margin-bottom: 5%;

  @media only screen and (min-width: 600px) {
    padding: 5%;
    border-radius: 0.5vw;
  }

  h3 {
    margin: 0;

    @media only screen and (min-width: 600px) {
      line-height: 2.5rem;
    }
  }

  h4 {
    margin: 0;
    line-height: 2.5rem;
  }

  &-title {
    display: flex;
    justify-content: space-between;
  }

  &-bottom {
    @media only screen and (min-width: 600px) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.units-left {
  display: flex;
  align-items: center;
  margin: 5% 0;

  @media only screen and (min-width: 600px) {
    margin: 0;
  }

  p {
    margin: 0 5%;
  }
}

.product-card-bottom {
  @media only screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
  }
}

.out-of-stock {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}
