#header {
  display: flex;
  position: absolute;
  padding: 8% 5%;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;

  img,
  button {
    z-index: 101;
  }

  @media only screen and (min-width: 600px) {
    padding: 2% 8vw;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    bottom: -270%;
    left: 50%;
    margin-left: -45%;
    background-color: white;
    width: 90%;
    border-radius: 2vw;

    @media only screen and (min-width: 600px) {
      display: flex;
      position: relative;
      width: fit-content;
      background-color: transparent;
      left: 0;
      margin: 0;
      bottom: 0;
      justify-content: center;
    }
  }

  li {
    padding: 7%;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    @media only screen and (min-width: 600px) {
      display: inline;
      border: 0;
    }
  }

  li a {
    color: black;
    text-align: left;
    text-decoration: none;
    transition: 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    @media only screen and (min-width: 600px) {
      color: white;
      text-align: center;
      white-space: nowrap;
    }
  }
}

.nav-bg {
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow: hidden;

  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.logo {
  @media only screen and (min-width: 600px) {
    margin-left: 4%;
  }
}

.nav {
  visibility: hidden;
  opacity: 0;

  @media only screen and (min-width: 600px) {
    visibility: visible;
    opacity: 1;
  }
}

.menu-open {
  animation: 0.5s fadeIn;
  animation-fill-mode: forwards;
}

.menu-close {
  animation: 0.5s fadeOut;
  animation-fill-mode: forwards;
}
