@import "./abstract/colors";
@import "./abstract/font";
@import "./abstract/animations";

body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  position: relative;
}

@import "./components/navbar";
@import "./components/containers";
@import "./components/buttons";
@import "./components/cards";

@import "./components/modals";
